<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/mateusz2202/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="mateusz2202" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>